In [2]:
import pandas as pd
import numpy as np
import xlrd
from pathlib import Path
import glob
import os

In [12]:
columnnames = pd.read_excel(r"C:\Census Data\References\2016_5yr_Summary_FileTemplates\templates\Seq41.xls", sheet_name='E')

In [33]:
values = {'FILEID': "1", 'FILETYPE': "YEAR", 'STUSAB': "STATE", 
                                'CHARITER': "4","SEQUENCE" : "SEQ", "LOGRECNO": "LOGRECNO"
          }
columnnames2 = columnnames.fillna(value = values)
#names = columnnames.apply(lambda x: x.tolist(), axis=1)

In [35]:
columnnames2

,FILEID,FILETYPE,STUSAB,CHARITER,SEQUENCE,LOGRECNO,B14001_001,B14001_002,B14001_003,B14001_004,...,B14007A_010,B14007A_011,B14007A_012,B14007A_013,B14007A_014,B14007A_015,B14007A_016,B14007A_017,B14007A_018,B14007A_019
0,1,YEAR,STATE,4,SEQ,LOGRECNO,SCHOOL ENROLLMENT BY LEVEL OF SCHOOL FOR THE P...,SCHOOL ENROLLMENT BY LEVEL OF SCHOOL FOR THE P...,SCHOOL ENROLLMENT BY LEVEL OF SCHOOL FOR THE P...,SCHOOL ENROLLMENT BY LEVEL OF SCHOOL FOR THE P...,...,SCHOOL ENROLLMENT BY DETAILED LEVEL OF SCHOOL ...,SCHOOL ENROLLMENT BY DETAILED LEVEL OF SCHOOL ...,SCHOOL ENROLLMENT BY DETAILED LEVEL OF SCHOOL ...,SCHOOL ENROLLMENT BY DETAILED LEVEL OF SCHOOL ...,SCHOOL ENROLLMENT BY DETAILED LEVEL OF SCHOOL ...,SCHOOL ENROLLMENT BY DETAILED LEVEL OF SCHOOL ...,SCHOOL ENROLLMENT BY DETAILED LEVEL OF SCHOOL ...,SCHOOL ENROLLMENT BY DETAILED LEVEL OF SCHOOL ...,SCHOOL ENROLLMENT BY DETAILED LEVEL OF SCHOOL ...,SCHOOL ENROLLMENT BY DETAILED LEVEL OF SCHOOL ...

In [36]:
names = columnnames2.apply(lambda x: x.tolist(), axis=1)

In [37]:
names

0    [1, YEAR, STATE, 4, SEQ, LOGRECNO, SCHOOL ENRO...
dtype: object